body{
    background-image: url('./imgs/output-onlinepngtools.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
h1{
    text-align: center;
    font-size: 80px;
    color: rgb(194, 59, 44);
}
img{
    display: block;
    margin: 0 auto 20px;
}
ol{
    padding-left: 20px;
}
li{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 6px rgb(59, 56, 56);
    transition: transform 0.2 ;
}
li:hover{
    transform: scale(1.2);
}

.caribeño{
    background-color: rgb(255, 234, 167);
}
.americano{
    background-color: rgb(223, 230, 233);
}
.hindu { 
    background-color: rgb(250, 177, 160); 
}
.mexicano {
    background-color: rgb(85, 239, 196); 
}
.tailandes { 
    background-color: rgb(116, 185, 255); 
}
.italiano { 
    background-color: rgb(253, 121, 168); 
}
.coreano { 
    background-color: rgb(255, 234, 167); 
}
.jamaica { 
    background-color: rgb(129, 236, 236); 
}

.bebida{
    font-weight: bold;
    color: rgb(13, 128, 216);
}

h3{
    padding-top: 25px;
    padding-bottom: 50px;
    color: brown;
    text-shadow: black;
}
.card {
  box-shadow: 4px 4px 18px 4px rgba(0,0,1,0.2);
  transition: 0.3s;
  width: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;